.weshop-mobiles {
	padding: 1rem 0;
}

.weshop-mobiles-pagination .mobile-item__name {
	max-height: 3rem;
	height: 3rem;
}

.weshop-mobiles-pagination .mobile-item__thumbnail {
	height: 9.15rem ;
	width: 7.3rem;
	max-width: 7.3rem;
	max-height:  9.15rem;
}

