
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('modules/header.css');
@import url('modules/footer.css');
@import url('modules/login.css');
@import url('modules/register.css');
@import url('modules/cart.css');
@import url('modules/checkout.css');
@import url('modules/product-detail.css');


/*Global style*/

}

a {
	color: #ccc;
}

ul {
	
}


/*Begin Header style*/


/*End header style*/

/***************************************/

/*Wrapper container style*/

.wrapper-container__menu {
	background: orange;
}

.wrapper-container__menu .nav-link{
	color:black;
	margin: 0 1rem;
	padding: 0.8rem;
	color: #fff;	
	font-weight: 500;	
	text-align: center;
}

.wrapper-container__menu .nav-link:hover {
	color:black;
	border-bottom: 0.2rem solid #fff;
	font-size: 1.1rem;
}

/*Carousel style*/

.site-carousel__button--cta{
	
	padding: 0.5rem 1.5rem;
	border: 2px solid orange;
	color:#fff;
	background: rgba(0,0,0,0.6);
	font-size: 1.2rem;
	border-radius: 0.4rem;
}
.site-carousel__button--cta:hover {
	background: orange;
	color: #fff;
}

/*Begin trending row style*/
.mobile-trending-row {
	margin-top: 1rem;	
	padding: 3rem 0;
}
.title--orange{
	background: orange;
	margin: 0;
	color: #fff;
	font-family: 'Open sans';
	border-radius: 0.3rem;	
}

#mobile-trending-row-body {
	border-top: 1px solid orange;
	padding: 1rem 0;	
}

.top-brand-row {

}

.top-brand-row .brand {
	
	border: 1px solid #ccc;
	margin-bottom: 1rem;

}

/*end trending row style*/

/*Main product content style*/

	/*Pagination*/
 .pagination-row {
	border-bottom: 1px solid orange;
	margin-bottom: 1rem;
}

 .pagination-row nav {
 	border:0;
 	margin:0;
 	padding: 0;
 }
 .pagination-row .product-pagination{
	margin:0;
	padding: 0;	

}
.pagination-row .pagination-row__title {
	margin: 0;
}


	/*Weshop products style*/
.weshop-products {
	
}
	.mobile-item {		
		font-size: 0.9rem;
		max-height: 30rem;
		position: relative;
		border: 0;
		font-size: 0.9rem;

	}
	.mobile-item:hover {
		border: 1px solid #ccc;
		width: 105%;
	}
	.mobile-item__thumbnail {		
		margin-top: 1rem;
		width: 90%;
		height: 90%;
		margin: auto;
		padding: 0.375rem 0;
	}
		
	.mobile-item__price {
		padding: 0;
		margin: 0;

	}
	.mobile-item__price-value {
		margin-bottom: 0;
	}	


	.mobile-item__price--past {
		font-weight: 400;
		text-decoration: line-through;
	}

	.mobile-item__price--discount {
		color: red;
	}
	.mobile-item__price--promo {
		font-weight: 500;
		font-size: 1.1rem;
		color: green;
	}
	
	.mobile-item--hightlight {
		width: 3.5rem;
		height: 3.5rem;
		position: absolute;
		right: 0;
		transform: translateX(10%);
		transform: rotate(-10deg);
	}



/*Utility style*/
.notification-error {
	color: red;
}
.loading-img {
	width: 4rem;
	position: absolute;
	transform: translateY(-10%);
}